$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/YanoneKaffeesatz-Regular.ttf')  format('truetype');
}

html, body {
    height: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #6B19A6 0%,#d310bc 100%);
}

h1 {
  color: #fff;
  font-size: 60px;
}

.flex-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  margin-bottom: 50px;
}

.camera {
  text-align: center;
  margin: 0 auto;
  box-shadow: 20px 20px 150px 0px rgba(237,194,237,1);
  padding: 15px;
}

.controls {
  margin-top: 50px;
}

.messages {
  margin-top: 20px;
}
