$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
@import "variables";
@import "controls";

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/YanoneKaffeesatz-Regular.ttf')  format('truetype');
}

html, body {
    height: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, $primary 0%,$secondary 100%);
}

h1 {
  color: $white;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: $white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  animation: neonHeader 1.5s ease-in-out infinite alternate;
}

h2:hover {
  color: $white;
  animation: none;
}


@keyframes neonHeader {
  from {
    text-shadow: 0 0 10px $white, 0 0 20px $white, 0 0 30px $white, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px $white, 0 0 10px $white, 0 0 15px $white, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

.flex-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  margin-bottom: 50px;
}

.camera {
  text-align: center;
  margin: 0 auto;
  box-shadow: 20px 20px 150px 0px $secondaryLight;
  padding: 15px;
}

.messages {
  margin-top: 20px;
}
