.flex-controls {
  background-color: $primaryDark;
  width: 100%;
  padding: 30px 100px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  font-size: 40px;
  border-top: 1px solid #d66cd3;
}

.flex-controls .control {
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  transition: all 0.5s;
}

#power:hover, #power.active {
  color: $green;
}

#power.active:hover {
  color: $white;
}

#capture:hover {
  color: $blue;
}

#save:hover {
  color: $orange;
}

#trash:hover {
  color: $red;
}
