@keyframes neon-header {
  from {
    text-shadow: 0 0 10px $secondaryLight,
                 0 0 20px $secondaryLight,
                 0 0 30px $secondaryLight,
                 0 0 40px $secondary,
                 0 0 70px $secondary,
                 0 0 80px $secondary,
                 0 0 100px $secondary,
                 0 0 150px $secondary;
  }
  to {
    text-shadow: 0 0 5px $secondaryLight,
                 0 0 10px $secondaryLight,
                 0 0 15px $secondaryLight,
                 0 0 20px $secondary,
                 0 0 35px $secondary,
                 0 0 40px $secondary,
                 0 0 50px $secondary,
                 0 0 75px $secondary;
  }
}

@keyframes neon-control {
  from {
    text-shadow: 0 0 10px $secondaryLight,
                 0 0 20px $secondaryLight,
                 0 0 30px $secondaryLight,
                 0 0 40px $secondary,
                 0 0 70px $secondary,
                 0 0 80px $secondary,
                 0 0 100px $secondary,
                 0 0 150px $secondary;
  }

  to {
    text-shadow: 0 0 5px $secondaryLight,
                 0 0 10px $secondaryLight,
                 0 0 15px $secondaryLight,
                 0 0 20px $secondary,
                 0 0 35px $secondary,
                 0 0 40px $secondary,
                 0 0 50px $secondary,
                 0 0 75px $secondary;
  }
}

@keyframes neon-control-green {
  from {
    text-shadow: 0 0 10px #bbeb96, 0 0 20px #bbeb96, 0 0 30px #bbeb96, 0 0 40px #9afc4c, 0 0 70px #9afc4c, 0 0 80px #9afc4c, 0 0 100px #9afc4c, 0 0 150px #9afc4c;
  }
  to {
    text-shadow: 0 0 5px #bbeb96, 0 0 10px #bbeb96, 0 0 15px #bbeb96, 0 0 20px #9afc4c, 0 0 35px #9afc4c, 0 0 40px #9afc4c, 0 0 50px #9afc4c, 0 0 75px #9afc4c;
  }
}
