$primary: #6B19A6;
$primaryDark: #3e0465;

$secondary: #d310bc;
$secondaryLight: #edc2ed;

$white: #fff;

$red: #ee2454;
$redLight: #eb96ad;

$blue: #0dabee;
$blueLight: #70c5e9;

$green: #24dc11;
$greenLight: #bbeb96;

$orange: #ddce11;
$orangeLight: #e6dd72;
